@model Products_3S.Models.Product
@{
    ViewBag.Title = "Delete Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Delete", "Products", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.SupplierID)
<div class="jumbotron mt-4">
    <h3 class="display-4">Delete Product</h3>
    <p class="lead">Are you sure you want to delete this Product - @Model.ProductName ?</p>
    <p class="lead">
        <button type="submit" class="btn btn-danger fa fa-remove">   Delete</button>
        <a href="@Url.Action("Index", "Products")"  class="btn btn-dark">
            <span class="fa fa-ban">   Cancel</span>
        </a></p>
</div> 
}